<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024</title>
    <!-- 引入 Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <style>
      body {
        font-family: "Arial", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }

      #content {
        text-align: center;
      }

      button {
        padding: 10px 10px;
        font-size: 16px;
        cursor: pointer;
      }
      #app p {
        font-size: 5rem;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="content">
        <h1>随机句子</h1>
        <button @click="fetchData">获取数据</button>
        <p v-if="result !== null">{{ result }}</p>
        <p v-if="error !== null" style="color: red">{{ error }}</p>
      </div>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            result: null,
            error: null,
          };
        },
        methods: {
          async fetchData() {
            try {
              const response = await fetch("/api/random-sentence"); // 替换为你的后端 API 地址
              const data = await response.json();
              const sentence = data.sentence;

              this.result = sentence;
              this.error = null;
            } catch (error) {
              console.error("Error fetching data:", error);
              this.result = null;
              this.error = "API Error";
            }
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
